html,
body {
    text-align: center;
    background-color: cyan;
    margin: auto 1em auto 1em;
}

p {
    text-align: justify;
}

form {
    background-color: #FFAC40;
    display: grid;
    padding-top: 1em;
    border-radius: 0.5em;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

form * {
    width: 95%;
}

form label{
    margin-top: 0.25em;
}

label {
    text-align: right;
    padding-right: 0.5em;
    padding-bottom: 0.25em;
}

fieldset{
    border: none;
}


.options{
    display: grid;
    border-radius: 0.5em;
    justify-items: center;
    grid-template-columns: 2em 10em;
}

.options label{
    text-align: left;
    padding: 2px auto auto auto;
}

.options input{
    margin: 0.85em auto auto 0.2em;
}

textarea {
    border: none;
    margin: 0.25em;
    border-radius: 0.5em;
    height: 6em;
    resize: none;
}

input {
    resize: none;
    margin: 0.35em;
    border-radius: 0.5em;
}

select {
    margin: 0.5em auto auto auto;
    width: 100%;
    background-color: white;
}

button {
    margin: 2em 3em 2em auto;
    width: 8em;
    height: 4em;
    grid-column: 2 / 3;
    border-radius: 0.5em;
}

@media all and (max-width: 374px){
    html,
    body {
        font-size: 14px;
    }
}
